.card-button{
    border-radius: 3px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.03);
    border: none;
    cursor: pointer;
    text-align: start;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    transition: 0.3s;
    transition: background-color;
    outline: none;
}

.card-button:hover,
.card-button:focus,
.card-button:focus-within{
    background: rgba(255, 255, 255, 0.03);
}
.card-journal{
    flex-direction: column;
    align-items: flex-start;
}